<!DOCTYPE html>
<html lang="{{ default .Site.Language.Lang .Site.LanguageCode  }}" dir="{{ default "ltr" .Site.Language.LanguageDirection }}">
  <head>
    {{ partial "html-head" . }}
  </head>
  
  
  <body dir="{{ default "ltr" .Site.Language.LanguageDirection }}">
     
    {{ partial "main-header" . }}
    {{ partial "search-container" . }}

    <main class="main-container">
      {{ partial "main-menu" . }}
      
      <div class="book-page container {{ if default true (default .Site.Params.toc .Params.toc) }} with-toc {{ end }} ">
        {{template "main" .}}
      </div>

      {{ if default true (default .Site.Params.toc .Params.toc) }}
        <aside class="book-toc">
          <div class="book-toc-content">
            <h3>Содержание</h3>
            {{ .TableOfContents }}
          </div>
        </aside>
      {{ end }}
      
    </main>
  </body>
</html>




{{ define "main" }}
  <!-- Page Content --> 
  <article class="markdown">
    <h1 class="title">{{ partial "title.html" . }}</h1>
    {{ partial "post-meta" . }}
    <div class="content">
      {{partial "textprocessing" . }}
    </div>
    {{ partial "children-list" . }}  <!-- Inner notes (for folder files) -->
    {{ partial "backlinks" . }}
  </article> 

  <!-- Comments block -->
  {{ partial "comments" . }} 
{{ end }}



