
<!DOCTYPE html>
<html lang="{{ default .Site.Language.Lang .Site.LanguageCode  }}" dir="{{ default "ltr" .Site.Language.LanguageDirection }}">

{{ partial "main-head" . }}
<input type="checkbox" class="hidden toggle" id="menu-control" />
<label for="menu-control" class="hidden book-menu-overlay"></label>
  
<body dir="{{ default "ltr" .Site.Language.LanguageDirection }}">

  {{ partial "bare-header" . }}
  {{ partial "quartz/search" . }}

  
  <main class="main-container">
    {{ partial "main-menu" . }}
    

    <div class="book-page container {{ if default true (default .Site.Params.toc .Params.toc) }} with-toc {{ end }} ">
      {{template "main" .}}
    </div>

    {{ if default true (default .Site.Params.toc .Params.toc) }}
      <aside class="book-toc">
        <div class="book-toc-content">
          {{ template "toc" . }}
        </div>
      </aside>
    {{ end }}
    
  </main>
  
</body>
</html>




{{ define "main" }}
    {{ partial "main-content" . }} <!-- Page Content -->
    {{ partial "comments" . }} <!-- Comments block -->
{{ end }}


{{ define "toc" }}
  {{ .TableOfContents }}
{{ end }}
