
{{ define "main" }}
    <article class="markdown">
      <h1 class="title">{{ partial "docs/title.html" . }}</h1>
      <div class="content">{{partial "quartz/textprocessing" . }}</div>
      <h3>Последние записи</h3>
      <ul>
        {{ range .Site.RegularPages.ByPublishDate.Reverse | first 10 }}
          <li>{{ partial "docs/date" (dict "Date" . "Format" $.Site.Params.BookDateFormat) }} — <a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{end}}
      </ul>
    </article> 
{{ end }}

