// Replace this with your own font imports!
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


@font-face {
  font-family: "Philosopher";
  src: url("/fonts/Philosopher-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Philosopher";
  src: url("/fonts/Philosopher-Bold.ttf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Philosopher";
  src: url("/fonts/Philosopher-Italic.ttf");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Philosopher";
  src: url("/fonts/Philosopher-BoldItalic.ttf");
  font-style: italic;
  font-weight: bold;
}


  font-family: "Inglobal";
  src: url("/fonts/inglobal.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Inglobal";
  src: url("/fonts/inglobalb.ttf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Inglobal";
  src: url("/fonts/inglobali.ttf");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Inglobal";
  src: url("/fonts/inglobalbi.ttf");
  font-style: italic;
  font-weight: bold;
}

:root {
  --font-body: "Inglobal", "Noto Sans", "Century Gothic", sans-serif;
  --font-header: "Philosopher", "Merriweather", serif;
  --font-mono: "Source Code Pro", monospace;
}




