 <article class="blog-header">
          <h2 class="article-title">
              <a href="{{ .RelPermalink }}">{{ partial "docs/title.html" . }}</a>
          </h2>
          {{ partial "docs/post-meta" . }}
            <p>
              {{if .Params.summary}}
                {{.Params.summary}}
              {{else}}
                {{partial "quartz/textprocessing" . | safeHTML | truncate 500}}
              {{end}}
              
          </p>

          {{ if .Truncated }}
            <div>
              <a href="{{ .RelPermalink }}">Читать дальше…</a>
            </div>
          {{ end }}
          <hr>
      </article>
      