<!DOCTYPE html>
<html lang="{{ default .Site.Language.Lang .Site.LanguageCode  }}" dir="{{ default "ltr" .Site.Language.LanguageDirection }}">

{{ partial "main-head" . }}

<body dir="{{ default "ltr" .Site.Language.LanguageDirection }}">
base
  {{ partial "bare-header" . }}
  {{ partial "quartz/search" . }}
  <input type="checkbox" class="hidden toggle" id="menu-control" />
  
  <main class="main-container">
    {{ partial "main-menu" . }}
    <div class="book-page container {{ if default true (default .Site.Params.toc .Params.toc) }} with-toc {{ end }} ">


      <article class="markdown">
  <h1>{{ .Title | title }}</h1>
  {{ $taxonomies := index .Site.Taxonomies .Page.Type }}
  {{ range $taxonomies }}
    <div><a href="{{ .Page.Permalink }}">{{ .Page.Title }} <sup>{{ .Count }}</sup></a></div>
  {{ end }}
      </article>

      
      <label for="menu-control" class="hidden book-menu-overlay"></label>
    </div>
    {{ partial "main-toc" . }}
  </main>
  
</body>
</html>






{{ define "main" }}
<div class="taxonomy">
  {{ range sort .Paginator.Pages }}
  {{- partial "article-preview" . -}}
  {{ end }}

  {{ template "_internal/pagination.html" . }}
</div>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/taxonomy" . }}
{{ end }}

